/* HomePage.css */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f5f8;
    margin: 0;
    padding: 0;
  }
  
  .Container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    border: 10px solid #ff7f50; /* Light pink border */
  }
  
  h1 {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid #66bb6a;
    font-family: 'Great Vibes', cursive;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ff7f50; /* Light pink */
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f1f5f8;
    color: #333;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: #66bb6a; /* Light green */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 768px) {
    .Container {
      max-width: 100%;
    }
  }
  